body{ text-align: center;
background-color: #FFEEDB    ;

}
.nav li { display: inline;
color: #1f1f1f;
text-align: right;}


.welcome {  background-color:#FFBD9B; 
height:100px;
padding-top: 3px; 
padding-bottom: 5%;
text-align: center;
margin-top:-10px;}


#h4 { font-size: 2.5rem;
color:#0A1D37; }

.offer { font-size: 2.5rem;
color: #0A1D37;}

.table { display: block;}

.button {  height: 30px;
width: 170px;  
border-radius: 15px;
color: #FFEEDB;
background-color: #0A1D37;
cursor: pointer;
}